// add here any variables, mixins, partials etc.
// the underscore tells the compiler this is a partial
// so it won't be compiled into a separate CSS file

$font-stack: 'Roboto', sans-serif;
$light-color: #f4f4f4;
$primary-color: #8839ffe3;
$secondary-color: #55dac2;
