@import 'variables';
@import 'utilities';
@import 'buttons';
@import 'cards';
@import 'mobile';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

// add mixin from utilities file
.header {
  @include set-background-and-text-color(#fff);
  height: 600px;

  @include media-query(sm) {
    height: 100%;
    padding-bottom: 1rem;

    nav {
      justify-content: right;

      .logo {
        display: none;
      }

      li {
        padding: 6px;
      }
    }

    &-content {
      text-align: center;

      img {
        display: none;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 3.5rem;
    }

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a {
      color: #fff;
    }

    a:hover {
      color: $secondary-color;
    }
  }

  &-content {
    height: 100%;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
    }

    h1 {
      font-size: 45px;
      line-height: 1.2;
    }
  }
}

.subscriptions-content {
  margin-top: 5rem;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
